
[tool.poetry]
name = "pypeln"
version = "0.2.5"
description = ""
authors = ["Cristian Garcia <cgarcia.e88@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/cgarciae/pypeln"
homepage = "https://cgarciae.github.io/pypeln"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^5.3.5"
hypothesis = "^5.5.1"
cytoolz = "^0.10.1"
pytest-asyncio = "^0.10.0"
aiohttp = "^3.6.2"
mkdocs = "^1.0.4"
mkdocs-material = "^4.6.3"
mkdocstrings = "^0.7.0"
pytest-sugar = "^0.9.2"
tqdm = "^4.43.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

# [tool.flit.metadata]
# module = "pypeln"
# author = "Cristian"
# author-email = "cgarcia.e88@gmail.com"
# classifiers = ["License :: OSI Approved :: MIT License"]